# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Logs
*.log

# Env files (если ты не хочешь их в образе)
.env

# CSV/large data fi
